<h1>Editando Entrevista Profissionalizante</h1>

<%= render 'form', vocational_interview: @vocational_interview, student: @student, url: student_vocational_interview_path(id: @vocational_interview.id, student_id: @student.id) %>

<code id = "flag-edit"></code>