
<div class="flex-conteiner-student-grade">
    <div class="title-monitoring">
    <h1>Distribuição Etária</h1>
      <%= link_to 'EXPORTAR PARA EXCEL', monitoring_council_path({}, format: :xlsx), class: "generate-button school-year-monitoring-link"%>
    </div>
    <div class="backButtonMonitoring">
      <a id="back-page" class="edit-button ">Voltar</a>    
    </div>
    <div class="card-graphic">
        <%= form_tag(:age_distrubution, method: :get, id: 'form_of_school_year') do  %>
            <%= select_tag(:school_year_id,options_from_collection_for_select(Academic::SchoolYear.all, "id", "name", @school_year_id),onChange: 'this.form.submit();')%> 
        <% end %>
        <%= pie_chart @date,height: "400px" %>
    </div>
</div>