<div class="flex-conteiner-monitoring">
    <a id="back-page" class="edit-button ">Voltar</a>   
    <div class="flex-painel">
    <%= link_to city_local_grafic_path do %>
        <div class="card-painel card-center">
            <div>      
            <div class="cities-icone-panel icon"></div>
            <p>Cidade</p>
            </div>
        </div>
    <% end %>
    <%= link_to neighbor_local_grafic_path do %>
        <div class="card-painel card-center">
            <div>      
            <div class="neighborhoods-icone-panel icon"></div>
            <p>Bairro</p>
            </div>
        </div>
    <% end %>
    </div>
</div>