<div class="flex-painel">
<a id="back-page" class="edit-button ">Voltar</a>    
    <%= link_to time_stay_grafic_path do %>
        <div class="card-painel card-center">
            <div>      
            <div class="students-icone-panel icon"></div>
            <p>Grafico de Permanência</p>
            </div>
        </div>
    <% end %>
    <%= link_to local_grafic_path do %>
        <div class="card-painel card-center">
            <div>      
            <div class="students-icone-panel icon"></div>
            <p>Gráfico Regionais</p>
            </div>
        </div>
    <% end %>

    <%= link_to per_school_year_grafic_path do %>
        <div class="card-painel card-center">
            <div>      
            <div class="students-icone-panel icon"></div>
            <p>Periodo Letivo</p>
            </div>
        </div>
    <% end %>
</div>