<a id="back-page" class="edit-button ">Voltar</a>    
<div class='flex-painel'>
    <%= link_to grafic_student_school_year_path do %>
        <div class="card-painel card-center">
            <div>      
            <div class="students-icone-panel icon"></div>
            <p>Matriculados</p>
            </div>
        </div>
    <% end %>
    <%= link_to grafic_student_per_school_re_path do %>
        <div class="card-painel card-center">
            <div>      
            <div class="students-icone-panel icon"></div>
            <p>Reatriculados</p>
            </div>
        </div>
    <% end %>

    <%= link_to grafic_student_per_school_active_path do %>
        <div class="card-painel card-center">
            <div>      
            <div class="students-icone-panel icon"></div>
            <p>Ativos</p>
            </div>
        </div>
    <% end %>

    <%= link_to grafic_student_per_school_approved_path do %>
        <div class="card-painel card-center">
            <div>      
            <div class="students-icone-panel icon"></div>
            <p>Aprovados</p>
            </div>
        </div>
    <% end %>

</div>
