<h1>Acadêmico</h1>
<div class="flex-painel">
<%= link_to school_years_path do %>
    <div class="card-painel card-center">
      <div>   
        <div class="school-year-icone-panel icon"></div>
        <p>Períodos Letivos</p>
      </div>
    </div>
<% end %>

<%= link_to teachers_path do %>
    <div class="card-painel card-center">
      <div>      
        <div class="teacher-icone-panel icon"></div>
        <p>Educadores</p>
      </div>
    </div>
<% end %>

<%= link_to subjects_path do %>
    <div class="card-painel card-center">
      <div>      
        <div class="discipline-icone-panel icon"></div>
        <p>Disciplinas</p>
      </div>
    </div>
<% end %>
</div>
