<div class="card-report-secretary-container">
  <div class= "card-report-secretary">
    <%#=
      select_tag :select_school_year, 
      options_from_collection_for_select(@school_years,'id', 'name', params[:school_year_id]), 
      :placeholder => " Selecione o período desejado" 
    %>

    <div class="card-delimitate">
      <%= 
        link_to 'Alunos Renovados', 
        alunos_renovados_path(Academic::SchoolYear.current), 
        class:"generate-button"
      %>

      <%= 
        link_to 'Alerta de Faltas', 
        absence_reports_path, 
        class: "generate-button"
      %>

      <%= 
        link_to 'Relatório para Ministerio do Esporte', 
        sport_monitoring_path({}, format: :xlsx), 
        class:"generate-button"
      %>

      <%= 
        link_to 'Relatório de Alunos Ativos', 
        generate_cpf_csv_path({}, format: :xlsx), 
        class:"generate-button"
      %>
    </div>
  </div> 
</div>