/*##############################################################

 #     #    #    ######  ###    #    #     # ####### ###  #####
 #     #   # #   #     #  #    # #   #     # #        #  #     #
 #     #  #   #  #     #  #   #   #  #     # #        #  #
 #     # #     # ######   #  #     # #     # #####    #   #####
  #   #  ####### #   #    #  #######  #   #  #        #        #
   # #   #     # #    #   #  #     #   # #   #        #  #     #
    #    #     # #     # ### #     #    #    ####### ###  #####
*/

$white: #FAFAFA;
$white-second: #FEFEFE;
$white-bg: #F8F8F8;
$black: #333333;
$light-gray: #EEEEEE;
$gray: #E0E0E0;
$table-hover: #d4d1d1;
$blue: #126496;
$secondary-blue: #006b9e;
$blue-hover: #2f80b3;
$yellow: #F8C915;
$yellow-hover: #FCD84F;
$orange: #FFB27B;
$orange-hover: #fdc49c;
$red: #FF7B7B;
$red-hover: #ff9e9e;
$green: #93C166;
$green-hover: #a6c785;
