.container-secretary-table {
    width: 90%;
    margin: 0 auto;
}

.space-around-secretary {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
}

.row-inscription-secretary {
    display: flex;
    flex-direction: row;
}

.row-inscription-secretary input[type="checkbox"] {
    margin-right: 10px;
}