<h1>Editando Turma</h1>

<%= link_to 'Voltar', school_year_classrooms_path(@classroom.school_year.id || params[:school_year_id]), class: 'generate-button', style: 'display: inline;' %>

<%= render 'form', classroom: @classroom %>
