<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <section id="family-section-remote-form" class="section-remote-form"> <%= render 'family_members/form_remote.html' %> </section>
    <section id="assistance-programs-section-remote-form" class="section-remote-form"> <%= render 'assistance_programs/form_remote.html' %> </section>
    <section id="expenses-section-remote-form" class="section-remote-form"> <%= render 'expenses/form_remote.html' %> </section>
  </div>  
</div>


