<li>
  <%= link_to financial_index_path do %>
    <div class="financial-icone-panel icon-menu"></div>
    <span>Financeiro</span>
  <% end %>
</li>

<li>
  <%= link_to academic_index_path do %>
    <div class="academic-icone-panel icon-menu"></div>
    <span>Acadêmico</span>
  <% end %>
</li>

<li>
  <%= link_to secretary_index_path do %>
    <div class="secretary-icone-panel icon-menu"></div>
    <span>Secretaria</span>
  <% end %> 
</li>

<li>
  <%= link_to users_path do %>
    <div class="users-icone-panel icon-menu"></div>
    <span>Usuários</span>
  <% end %> 
</li>