<li>
  <%= link_to accounts_path do %>
    <div class="bank-menu icon-menu"></div>
    <span>Contas</span>
  <% end %>
</li>

<li>
  <%= link_to projects_path do %>
    <div class="projects-menu icon-menu"></div>
    <span>Projetos</span>
  <% end %>
</li>

<li>
  <%= link_to cash_book_path do %>
    <div class="cash-book-menu icon-menu"></div>
    <span>Caixa</span>
  <% end %> 
</li>

<li>
  <%= link_to financial_reports_path do %>
    <div class="report-menu icon-menu"></div>
    <span>Relatório</span>
  <% end %> 
</li>
